body,
html {
  margin: 0;
  padding: 0;
  
}
.navbar-container {
  background-color: #e3e679;
  width: 100%;
  box-sizing: border-box;
}

.navbar {
  max-width: 100%;
  margin: 0 auto;
  padding: 15px 20px;
}
.budget,
.mr {
  position: relative;
  display: inline-block;
  width: 49px;
  height: 40px;
  flex-shrink: 0;
}

.mr-parent {
  flex: 1;
}

.links {
  display: flex;
  gap: 20px;
}

.index2 {
  color: #8da8db;
}

.about1 {
  color: rgba(178, 0, 222, 0.95);
}



@media screen and (max-width: 1200px) {
  .navbar1 {
    flex-direction: row;
    gap: 44px;
    align-items: flex-start;
    justify-content: space-between;
  }
}
@media screen and (max-width: 960px) {
  .navbar1 {
    flex-direction: row;
    gap: 44px;
    align-items: flex-start;
    justify-content: space-between;
  }
}
@media screen and (max-width: 420px) {
  .navbar1 {
    flex-direction: row;
    gap: 44px;
    align-items: flex-start;
    justify-content: space-between;
  }
}
